@model Identity.Host.ViewModels.LoginViewModel;

<div style="width:300px; margin: auto;">
    <form id="login-form"
          role="form"
          class="form"
          method="post"
          asp-action="Login"
          asp-controller="Account"
          asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input asp-for="Username" type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>
